<a href="https://colab.research.google.com/github/IsaacGSolis/Mineria-de-Datos-IEGS/blob/main/FunAvanPandasPt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
products=pd.read_csv("part2_products.csv")
customers=pd.read_csv("part2_customers.csv")
orders_a=pd.read_csv("part2_orders_a.csv")
orders_b=pd.read_csv("part2_orders_b.csv")

Une orders_a y orders_b en un solo DataFrame orders con índice reiniciado.

In [23]:
orders=pd.concat([orders_a, orders_b], ignore_index=True)
#ignore_index=True reinicia el indice
orders.head()

   order_id  order_date  line_id customer_id product_id  qty channel
0      2001  2026-01-02        1        C001        P10    2     web
1      2002  2026-01-02        2        C002        P20    1   store
2      2003  2026-01-03        3        C003        P20    3     web
3      2004  2026-01-04        4        C001        P30    1     app
4      2005  2026-01-05        5        C004        P10    5     web

Ordena orders por order_date ascendente y, en caso de empate, por qty descendente.

In [8]:
orders["order_date"]=pd.to_datetime(orders["order_date"])
orders=orders.sort_values(by=["order_date", "qty"],ascending=[True, False])
orders.head()

   order_id order_date  line_id customer_id product_id  qty channel
0      2001 2026-01-02        1        C001        P10    2     web
1      2002 2026-01-02        2        C002        P20    1   store
2      2003 2026-01-03        3        C003        P20    3     web
3      2004 2026-01-04        4        C001        P30    1     app
4      2005 2026-01-05        5        C004        P10    5     web

Establece order_date como índice en orders y ordena por índice (cronológico).

In [9]:
orders=orders.set_index("order_date") #Establece el indice
orders=orders.sort_index()#Ordena el incide
orders.head()

            order_id  line_id customer_id product_id  qty channel
order_date
2026-01-02      2001        1        C001        P10    2     web
2026-01-02      2002        2        C002        P20    1   store
2026-01-03      2003        3        C003        P20    3     web
2026-01-04      2004        4        C001        P30    1     app
2026-01-05      2005        5        C004        P10    5     web

Haz un merge para añadir a orders las columnas del cliente (customer_name, city, segment) usando customer_id (left join). Valida que sea many_to_one.

In [12]:
orders = orders.merge(
    customers[["customer_id", "customer_name", "city", "segment"]],
    on="customer_id",
    how="left",
    validate="many_to_one"
)
orders.head()

,order_id,line_id,customer_id,product_id,qty,channel,customer_name_x,city_x,segment_x,customer_name_y,city_y,segment_y
0,2001,1,C001,P10,2,web,Ana,CDMX,Consumer,Ana,CDMX,Consumer
1,2002,2,C002,P20,1,store,Luis,GDL,Corporate,Luis,GDL,Corporate
2,2003,3,C003,P20,3,web,Marta,MTY,Consumer,Marta,MTY,Consumer
3,2004,4,C001,P30,1,app,Ana,CDMX,Consumer,Ana,CDMX,Consumer
4,2005,5,C004,P10,5,web,Sofia,QRO,Small Biz,Sofia,QRO,Small Biz

Haz un merge adicional con products para añadir product, category, unit_price y crea una columna line_total = qty * unit_price. Luego ordena por line_total descendente y muestra top 5.

In [24]:
orders=orders.merge(
    products[["product_id", "product", "category", "unit_price"]],
    on="product_id",
    how="left",
    validate="many_to_one"
)
orders["line_total"]=orders["qty"]*orders["unit_price"]
orders_sorted=orders.sort_values(by="line_total",ascending=False)
orders_sorted.head(5)

,order_id,order_date,line_id,customer_id,product_id,qty,channel,product,category,unit_price,line_total
6,2007,2026-01-06,7,C002,P30,2,web,"Monitor 24""",Electronics,160.0,320.0
5,2006,2026-01-05,6,C005,P40,1,store,Office Chair,Furniture,220.0,220.0
3,2004,2026-01-04,4,C001,P30,1,app,"Monitor 24""",Electronics,160.0,160.0
2,2003,2026-01-03,3,C003,P20,3,web,Keyboard,Accessories,45.0,135.0
9,2010,2026-01-09,10,C008,P20,2,store,Keyboard,Accessories,45.0,90.0